<%= render 'shared/errors', obj: @trip %>

<%= form_for(@trip, :html => { class: "form-horizontal", role: "form" }) do |f| %>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, placeholder: "title of the trip", class: "form-control", autofocus: true %>
      </div>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, placeholder: "trip description (minimum 10 characters)", class: "form-control", rows: 6 %>
      </div>
      <div class="form-group">
        <%= f.label :start_date %>
        <%= f.date_field :start_date, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :end_date %>
        <%= f.date_field :end_date, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :travel_mode %>
        <%= f.text_field :travel_mode, placeholder: "mode of travel (airplane, train, etc.)", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :ticket_cost %>
        <%= f.number_field :ticket_cost, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :home_cab_cost %>
        <%= f.number_field :home_cab_cost, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :destination_cab_cost %>
        <%= f.number_field :destination_cab_cost, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :hotel_cost %>
        <%= f.number_field :hotel_cost, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :local_transport %>
        <%= f.text_field :local_transport, placeholder: "mode of local transport (Taxi, bus, etc.)", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit class: "btn btn-block btn-lg btn-primary" %>
      </div>
    </div>
  </div>
<% end %>