
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-10">
            <h2 class="panel-title">All listed trips</h2>
          </div>
          <div class="col-md-2">
            <%= link_to 'New Trip', new_trip_path, class: 'btn btn-xs btn-success' %>
          </div>
        </div>
        
      </div>
      <div class="panel-body">
        <table class="table borderless">
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Start date</th>
          </tr>
          <% @trips.each do |trip| %>
          <tr>
            <td><%= link_to trip.title, trip_path(trip) %></td>
            <td><%= truncate(trip.description, length: 30) %></td>
            <td><%= trip.start_date %></td>
            <td><%= link_to 'Details', trip_path(trip) %></td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
