<h1>Trip details</h1>
<p>
  Title: <%= @trip.title %>
</p>
<p>
  Description: <%= @trip.description %>
</p>
<p>
  Start date: <%= @trip.start_date %>
</p>
<P>
  End date: <%= @trip.end_date %>
</P>
<p>
  Travel mode: <%= @trip.travel_mode %>
</p>
<p>
  Ticket cost: <%= @trip.ticket_cost %>
</p>
<p>
  Home cab cost: <%= @trip.home_cab_cost %>
</p>
<p>
  Destination cab cost: <%= @trip.destination_cab_cost %>
</p>
<p>
  Hotel cost: <%= @trip.hotel_cost %>
</p>
<p>
  Local transport: <%= @trip.local_transport %>
</p>