<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Trip details</h3>
      </div>
      <div class="panel-body">
        <table class="table borderless">
          <tr>
            <th>Trip title</th>
            <td><%= @trip.title %></td>
          </tr>
          <tr>
            <th>Description</th>
            <td><%= @trip.description %></td>
          </tr>
          <tr>
            <th>Start date</th>
            <td><%= @trip.start_date %></td>
          </tr>
          <tr>
            <th>End date</th>
            <td><%= @trip.end_date %></td>
          </tr>
          <tr>
            <th>Travel mode</th>
            <td><%= @trip.travel_mode %></td>
          </tr>
          <tr>
            <th>Ticket cost</th>
            <td><%= @trip.ticket_cost %> MYR</td>
          </tr>
          <tr>
            <th>Home cab cost</th>
            <td><%= @trip.home_cab_cost %> MYR</td>
          </tr>
          <tr>
            <th>Destination cab cost</th>
            <td><%= @trip.destination_cab_cost %> MYR</td>
          </tr>
          <tr>
            <th>Hotel cost</th>
            <td><%= @trip.hotel_cost %> MYR</td>
          </tr>
          <tr>
            <th>Local transport</th>
            <td><%= @trip.local_transport %></td>
          </tr>
          <tr class="info">
            <th>Total cost</th>
            <th><%= @trip.ticket_cost + @trip.home_cab_cost + @trip.destination_cab_cost + @trip.hotel_cost %> MYR</th>
          </tr>
        </table>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-7">
            <% if logged_in? && current_user == @trip.user %>
              <%= link_to "Edit", edit_trip_path(@trip), class: "btn btn-default" %>
              <%= link_to "Delete", trip_path(@trip), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
            <% end %>
          </div>
          <div class="col-md-5">
            <span>Created by:</span>
            <%= link_to @trip.user.username, user_path(@trip.user) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
